{% extends 'base.html.twig' %}

{% block title %}Toy index{% endblock %}

{% block body %}
    <h1>Toy index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for toy in toys %}
            <tr>
                <td>{{ toy.id }}</td>
                <td>{{ toy.name }}</td>
                <td>{{ toy.category }}</td>
                <td>{{ toy.useRestriction }}</td>
                <td>
                    <a href="{{ path('app_toy_show', {'id': toy.id}) }}">show</a>
                    <a href="{{ path('app_toy_edit', {'id': toy.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_toy_new') }}">Create new</a>
{% endblock %}
