{% extends 'base.html.twig' %}

{% block title %}Ограничения{% endblock %}

{% block body %}
    <h1>Ограничения использования</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Описание</th>
            <th>Игрушки</th>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <th>Действия</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for use_restriction in use_restrictions %}
            <tr>
                <td>{{ use_restriction.id }}</td>
                <td>{{ use_restriction.description }}</td>
                <td>
                    {% for toy in use_restriction.toys %}
                        <a href="{{ path('app_toy_show', {'id': toy.id}) }}">{{ toy.name }}</a>
                        <br>
                    {% else %}
                        —
                    {% endfor %}
                </td>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <td>
                        <a href="{{ path('app_use_restriction_edit', {'id': use_restriction.id}) }}">Изменить</a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Нет ограничений :)</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('app_use_restriction_new') }}">Добавить ограничение</a>
    {% endif %}
{% endblock %}
