{% extends 'base.html.twig' %}

{% block title %}Виды игрушки{% endblock %}

{% block body %}
    <h1>Вид игрушки</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Игрушки</th>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <th>Действия</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for toy_category in toy_categories %}
            <tr>
                <td>{{ toy_category.id }}</td>
                <td>{{ toy_category.name }}</td>
                <td>
                    {% for toy in toy_category.toys %}
                        <a href="{{ path('app_toy_show', {'id': toy.id}) }}">{{ toy.name }}</a>
                        <br>
                    {% else %}
                        —
                    {% endfor %}
                </td>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <td>
                        <a href="{{ path('app_toy_category_edit', {'id': toy_category.id}) }}">Изменить</a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Нет категорий :(</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('app_toy_new') }}">Добавить категорию</a>
    {% endif %}
{% endblock %}
