{% extends 'base.html.twig' %}

{% block title %}Вид игрушки{% endblock %}

{% block body %}
    <h1>Вид игрушки</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ toy_category.id }}</td>
        </tr>
        <tr>
            <th>Название</th>
            <td>{{ toy_category.name }}</td>
        </tr>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <tr>
                <th>Игрушки</th>
                <td>
                    {% for toy in toy_category.toys %}
                        <a href="{{ path('app_toy_show', {'id': toy.id}) }}">{{ toy.name }}</a>
                        <br>
                    {% else %}
                        —
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <a href="{{ path('app_toy_category_index') }}">Вернуться</a>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('app_toy_category_edit', {'id': toy_category.id}) }}">Изменить</a>
        {{ include('toy_category/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
